* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-weight: 400;
}


header {
    height: 100px;
    width: 100%;
    background-color:  #1D9D84;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 20px solid orangered;
}

header img {
    margin-right: 30px;
    width: 50px;
    margin-bottom: 0px;
}

h1 {
    width: 80%;
    color: white;
}

.presentation {
    width: 75%;
    margin: 0 auto;
}

.presentation h1 {
    color: orangered;
    width: 100%;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    border-bottom: 1px solid #1D9D84;
    height: 30px;
}

.presentation h2 {
    width: 100%;
    color: #1d9d84;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px;
}

.presentation p {
    font-size: 0.96em;
    color: #111;
    text-align: justify;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 0px !important;
}

.presentation h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: orangered;
}

h4 {
    margin-left: 0px;
}

ul h4 {
    margin-top: 30px;
    margin-left: 0px;
    font-weight: 600;
    border-bottom: 1px solid #111;
    width: 20%;
}

small {
    font-size: 0.9em;
}
ul {
    list-style: none;
    margin-left: 150px;
    margin-bottom: 30px;
}

li {
    margin-top: 10px;
}
li p {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 1em;
}

bold {
    font-weight: 700;
/*
    margin-left: 30px;
*/
    text-transform: capitalize;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
}


.ul-dans-ul {
    margin-bottom: 10px;
    list-style: disc;
}

.techniques {
    margin-bottom: 50px;
}
.techniques p {
    margin-bottom: 10px !important;
}

.rotate-img {
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: flex-start;
}



.flex img {
    width: 50%;
    height: 50%;
    margin-top: 0px;
}

.img-grande {
    width: 30% !important;
}

.flex p {
    text-align: left;
}

.img-col-6 {
    width: 50%;
}

TABLE {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
    border: 0;
}

CAPTION {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
}
TH {
    padding: 7.8px;
    width: 20%;
    font-size: 0.83em;
    border: 1px solid lightgrey;
    text-align: left;
}